
.button_introducao_FirstLevel_hover:hover{
    -fx-text-fill: white;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, #9500ff, 20, 0, 0, 0);
    -fx-cursor: 👌
}
.txt_for_menu_dialogs {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 10px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, white, 20, 0, 0, 0);
}
.txt_for_menu_title {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 30px;
    -fx-text-fill: white;
}
.button_introducao_FirstLevel {
    -fx-border-width: 2px;
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 10px;
    -fx-text-fill: white;

    -fx-background-color: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.0) 0%,
            rgba(0, 0, 0, 0.0) 100%)
}

.button_skip_introduction {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 14px;
}
.button_skip_introduction_hover:hover {
    -fx-text-fill: white;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, #9500ff, 20, 0, 0, 0);
    -fx-cursor: 👌
}
.chacter_selection_hover:hover {
    -fx-effect: dropshadow(gaussian, #9500ff, 20, 0, 0, 0);
    -fx-cursor: 👌
}


